/* ghost talk app style */ 
body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.m-r-3 {
    margin-right: 3px;
}

.link {
    color: #61dafb;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.navbar {
    border-bottom: 1px solid #ccc;
    background-color: #383d46;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-left a, .navbar-right a {
    color: #61dafb;
    text-decoration: none;
}

.navbar-left a:hover, .navbar-right a:hover {
    text-decoration: underline;
}

.navbar-link {
    margin-left: 5px;
}

.main-container {
    margin-top: 60px;
}

.component {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-box {
    border-bottom: 1px solid #ccc;
    background-color: #383d46;
}

.article-card {
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;    
    border-radius: 8px;
    margin-bottom: 20px;
}

.article-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.article-content {
    font-size: 16px;
    line-height: 1.6;
}

.form-container {
    max-width: 400px;
    margin: auto;
    background-color: #373a40;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-title {
    color: #61dafb;
    margin-top: -5px;
}

.form-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #282c34;
    color: #abb2bf;
    font-size: 16px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #61dafb; 
    color: #282c34; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #4fa3d1;
}

.error-message {
    color: #fff;
    background-color: #e74c3c;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
    margin-top: -8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 30px);
}

.registration-link {
    margin-top: 15px;
    margin-bottom: -5px;
    text-align: center;
}

.registration-link a {
    color: #61dafb;
    text-decoration: none;
}

.registration-link a:hover {
    text-decoration: underline;
}

.chat-component {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    height: calc(100vh - 40px);
    margin-top: -21px;
}

.chat-list {
    width: 22%;
    overflow-y: auto;
    box-sizing: border-box;
    border-right: 1px solid white;
}
 
.chat-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.chat-list a {
    background-color: #383d46;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
    border-bottom: 1px solid white;
    white-space: nowrap;
}

.chat-list a:hover {
    background-color: #505661;
}

.chat-box {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}

.chat-title {
    background-color: #383d46;
    padding: 4px;
    font-size: 16px;
    padding-left: 6px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.chat-title a {
    color: white;
}

.chat-title a:hover {
    color: rgb(255, 91, 91);
}

.message-container {
    padding: 5px;
    overflow-y: auto;
    height: calc(100% - 70px);
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.message {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 8px;
    width: 97.5%;
    border-radius: 10px;
}

.incoming {
    background-color: #193fe7;
}

.outgoing {
    background-color: #525252;
}

.timestamp {
    float: right;
    color: rgb(209, 209, 209);
    font-size: 15px;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.username {
    text-decoration: underline;
}

.message-input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    background-color: #383d46;
}

.message-input {
    flex: 1;
    padding: 9px;
    border: 1px solid #ccc;
    margin-right: 4px;
    background-color: #383d46;
    color: white;
}

.send-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.send-button:hover {
    background-color: #5dbb61;
}

.contact-list-navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    background-color: #383d46;
    margin-left: 1px;
}

.contact-list-navbar a {
    color: #61dafb;
    padding: 2px;
}

.contact-list-navbar a:hover {
    color: #2fd2ff;
    padding: 2px;
}

.profile-box {
    border-bottom: 1px solid white;
    background-color: #383d46;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.profile-info {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    color: #ffffff;
}

.value {
    color: #e2e2e2;
}

.add-to-contact-btn {
    background-color: #40b944;
    color: #eeeeee;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.add-to-contact-btn:hover {
    background-color: #45a049;
}

.block-contact-btn {
    background-color: rgb(255, 100, 100);
}

.block-contact-btn:hover {
    background-color: rgb(255, 79, 79);
}

.green-text {
    color: rgb(54, 235, 54);
}

.gold-text {
    color: rgb(255, 226, 61);
}

.red-text {
    color: rgb(255, 69, 69);
}

.black-text {
    color: black;
}

.waiting {
    font-size: 16px;
}

.pending-component div {
    display: flex;
    align-items: center;
    background-color: #383d46;
    width: 80%;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.pending-component p {
    margin: 0;
    margin-right: 10px;
    text-decoration: none;
}

.pending-component .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pending-component .username {
    margin-right: auto;
}

.pending-component a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-left: 3px;
}

.pending-component a.accept {
    background-color: #4CAF50; 
}

.pending-component a.deny {
    background-color: #f44336;
}
